@use "sass:math";
@use "sass:map";

@use '../constants' as *;
@use '../util' as *;

$dungeon-cell-preview-hex-props: generate-flat-side-hexagon(5rem);
$dungeon-cell-preview-flat-width: map.get($dungeon-cell-preview-hex-props, "flat-width");
$dungeon-cell-preview-half-width: map.get($dungeon-cell-preview-hex-props, "half-width");
$dungeon-cell-preview-side-length: map.get($dungeon-cell-preview-hex-props, "side-length");
$dungeon-cell-preview-peak-height: map.get($dungeon-cell-preview-hex-props, "peak-height");
$dungeon-cell-preview-diagonal-height: map.get($dungeon-cell-preview-hex-props, "diagonal-height");
$dungeon-cell-preview-outer-path-stroke: map.get($dungeon-cell-preview-hex-props, "outer-path-stroke");

$default-color: black;

.dungeon-cell-preview {
    width: $dungeon-cell-preview-flat-width;
    height: $dungeon-cell-preview-diagonal-height;
    background-color: black;
    clip-path: $dungeon-cell-preview-outer-path-stroke;
}

.dungeon-cell-preview-invalid {
    visibility: hidden;
}

.dungeon-cell-preview-svg {
    width: $dungeon-cell-preview-flat-width;
    height: $dungeon-cell-preview-diagonal-height;
}

.dungeon-cell-preview-outer-stroke-path {
    d: $dungeon-cell-preview-outer-path-stroke;
}

.dungeon-cell-preview-untouched {
    width: $dungeon-cell-preview-flat-width;
    height: $dungeon-cell-preview-diagonal-height;
    background-color: purple;
}

.dungeon-cell-preview-indeterminate {
    width: $dungeon-cell-preview-flat-width;
    height: $dungeon-cell-preview-diagonal-height;
    background-color: purple;
}

.dungeon-cell-preview-indeterminate-directions {
    position: absolute;
    top: 0;
    left: calc($dungeon-cell-preview-diagonal-height / 3);
    right: calc($dungeon-cell-preview-diagonal-height / 3);
    bottom: calc($dungeon-cell-preview-diagonal-height / 2);
    background-color: rgb(255, 255, 0);
    transform-origin: bottom;
}

.dungeon-cell-preview-none {
    width: $dungeon-cell-preview-flat-width;
    height: $dungeon-cell-preview-diagonal-height;
    background-color: gray;
}

.dungeon-cell-preview-hall {
    width: $dungeon-cell-preview-flat-width;
    height: $dungeon-cell-preview-diagonal-height;
    position: relative;
    background-color: darkcyan;
}

.dungeon-cell-preview-hall-connection {
    position: absolute;
    top: 0;
    left: calc($dungeon-cell-preview-diagonal-height / 3.5);
    right: calc($dungeon-cell-preview-diagonal-height / 3.5);
    bottom: calc($dungeon-cell-preview-diagonal-height / 2);
    background-color: red;
    transform-origin: bottom;
}

.dungeon-cell-preview-room {
    width: $dungeon-cell-preview-flat-width;
    height: $dungeon-cell-preview-diagonal-height;
    background-color: blue;
}

.dungeon-cell-preview-room-door {
    position: absolute;
    top: 0;
    left: calc($dungeon-cell-preview-diagonal-height / 3.5);
    right: calc($dungeon-cell-preview-diagonal-height / 3.5);
    bottom: calc($dungeon-cell-preview-diagonal-height * .85);
    background-color: olive;
    transform-origin: 50% 335%;
}

.dungeon-cell-preview-rotate-top-left {
    transform: rotate(-30deg);
}

.dungeon-cell-preview-rotate-top-right {
    transform: rotate(30deg);
}

.dungeon-cell-preview-rotate-right {
    transform: rotate(90deg);
}

.dungeon-cell-preview-rotate-bottom-right {
    transform: rotate(150deg);
}

.dungeon-cell-preview-rotate-bottom-left {
    transform: rotate(-150deg);
}

.dungeon-cell-preview-rotate-left {
    transform: rotate(-90deg);
}

.dungeon-cell-preview-remaining-types {
    font-size: 15pt;
    position: absolute;
    padding-left: calc($dungeon-cell-preview-flat-width * calc(2/5));
    padding-top: calc($dungeon-cell-preview-flat-width * calc(2/5));
    font-weight: bold;
    z-index: 100000;
    pointer-events:none;
}

.dungeon-cell-preview-start-location {
    font-size: 15pt;
    position: absolute;
    padding-left: calc($dungeon-cell-preview-flat-width * calc(2/8));
    padding-top: calc($dungeon-cell-preview-flat-width * calc(2/8));
    font-weight: bold;
    z-index: 100001;
    pointer-events:none;
    color: green;
}

.dungeon-cell-preview-goal-location {
    font-size: 15pt;
    position: absolute;
    padding-left: calc($dungeon-cell-preview-flat-width * calc(2/8));
    padding-top: calc($dungeon-cell-preview-flat-width * calc(2/8));
    font-weight: bold;
    z-index: 100001;
    pointer-events:none;
    color: red;
}
