@use "sass:math";

@use '../constants' as *;
@use '../util' as *;

$dungeon-cell-preview-flat-width: 5rem;
$dungeon-cell-preview-half-width: calc($dungeon-cell-preview-flat-width / 2);
$dungeon-cell-preview-side-length: calc($dungeon-cell-preview-flat-width / math.sqrt(3));
$dungeon-cell-preview-peak-height: calc(calc($dungeon-cell-preview-half-width * 30)  /52);
$dungeon-cell-preview-diagonal-height: calc($dungeon-cell-preview-side-length * 2);

@function to-svg-loc($number) {
    @return calc(strip-unit($number) * 16);
}

$dungeon-cell-preview-outer-path-stroke: path(""
    + " M#{to-svg-loc($dungeon-cell-preview-half-width)}, 0"
    + " L#{to-svg-loc($dungeon-cell-preview-flat-width)}, #{to-svg-loc($dungeon-cell-preview-peak-height)}"
    + " L#{to-svg-loc($dungeon-cell-preview-flat-width)}, #{to-svg-loc(calc($dungeon-cell-preview-peak-height + $dungeon-cell-preview-side-length))}"
    + " L#{to-svg-loc($dungeon-cell-preview-half-width)}, #{to-svg-loc($dungeon-cell-preview-diagonal-height)}"
    + " L0, #{to-svg-loc(calc($dungeon-cell-preview-peak-height + $dungeon-cell-preview-side-length))}"
    + " L0, #{to-svg-loc($dungeon-cell-preview-peak-height)}"
+ " Z");

$default-color: black;

.dungeon-cell-preview {
    width: $dungeon-cell-preview-flat-width;
    height: $dungeon-cell-preview-diagonal-height;
    background-color: black;
    clip-path: $dungeon-cell-preview-outer-path-stroke;
}

.dungeon-cell-preview-invalid {
    visibility: hidden;
}

.dungeon-cell-preview-svg {
    width: $dungeon-cell-preview-flat-width;
    height: $dungeon-cell-preview-diagonal-height;
}

.dungeon-cell-preview-outer-stroke-path {
    d: $dungeon-cell-preview-outer-path-stroke;
}

.dungeon-cell-preview-untouched {
    width: $dungeon-cell-preview-flat-width;
    height: $dungeon-cell-preview-diagonal-height;
    background-color: purple;
}

.dungeon-cell-preview-indeterminate {
    width: $dungeon-cell-preview-flat-width;
    height: $dungeon-cell-preview-diagonal-height;
    background-color: purple;
}

.dungeon-cell-preview-indeterminate-directions {
    position: absolute;
    top: 0;
    left: calc($dungeon-cell-preview-diagonal-height / 3);
    right: calc($dungeon-cell-preview-diagonal-height / 3);
    bottom: calc($dungeon-cell-preview-diagonal-height / 2);
    background-color: rgb(255, 255, 0);
    transform-origin: bottom;
}

.dungeon-cell-preview-none {
    width: $dungeon-cell-preview-flat-width;
    height: $dungeon-cell-preview-diagonal-height;
    background-color: gray;
}

.dungeon-cell-preview-hall {
    width: $dungeon-cell-preview-flat-width;
    height: $dungeon-cell-preview-diagonal-height;
    position: relative;
    background-color: darkcyan;
}

.dungeon-cell-preview-hall-connection {
    position: absolute;
    top: 0;
    left: calc($dungeon-cell-preview-diagonal-height / 3.5);
    right: calc($dungeon-cell-preview-diagonal-height / 3.5);
    bottom: calc($dungeon-cell-preview-diagonal-height / 2);
    background-color: red;
    transform-origin: bottom;
}

.dungeon-cell-preview-room {
    width: $dungeon-cell-preview-flat-width;
    height: $dungeon-cell-preview-diagonal-height;
    background-color: blue;
}

.dungeon-cell-preview-room-door {
    position: absolute;
    top: 0;
    left: calc($dungeon-cell-preview-diagonal-height / 3.5);
    right: calc($dungeon-cell-preview-diagonal-height / 3.5);
    bottom: calc($dungeon-cell-preview-diagonal-height * .85);
    background-color: olive;
    transform-origin: 50% 335%;
}

.dungeon-cell-preview-rotate-top-left {
    transform: rotate(-30deg);
}

.dungeon-cell-preview-rotate-top-right {
    transform: rotate(30deg);
}

.dungeon-cell-preview-rotate-right {
    transform: rotate(90deg);
}

.dungeon-cell-preview-rotate-bottom-right {
    transform: rotate(150deg);
}

.dungeon-cell-preview-rotate-bottom-left {
    transform: rotate(-150deg);
}

.dungeon-cell-preview-rotate-left {
    transform: rotate(-90deg);
}

.dungeon-cell-preview-remaining-types {
    font-size: 15pt;
    position: absolute;
    padding-left: calc($dungeon-cell-preview-flat-width * calc(2/5));
    padding-top: calc($dungeon-cell-preview-flat-width * calc(2/5));
    font-weight: bold;
    z-index: 100000;
    pointer-events:none;
}

.dungeon-cell-preview-start-location {
    font-size: 15pt;
    position: absolute;
    padding-left: calc($dungeon-cell-preview-flat-width * calc(2/8));
    padding-top: calc($dungeon-cell-preview-flat-width * calc(2/8));
    font-weight: bold;
    z-index: 100001;
    pointer-events:none;
    color: green;
}

.dungeon-cell-preview-goal-location {
    font-size: 15pt;
    position: absolute;
    padding-left: calc($dungeon-cell-preview-flat-width * calc(2/8));
    padding-top: calc($dungeon-cell-preview-flat-width * calc(2/8));
    font-weight: bold;
    z-index: 100001;
    pointer-events:none;
    color: red;
}
