@use "sass:math";

@use '../constants' as *;
@use '../util' as *;

$dungeon-cell-flat-height: 5rem;
$dungeon-cell-half-height: calc($dungeon-cell-flat-height / 2);
$dungeon-cell-side-length: calc($dungeon-cell-flat-height / math.sqrt(3));
$dungeon-cell-peak-length: calc(calc($dungeon-cell-half-height * 30)  /52);
$dungeon-cell-long-width: calc($dungeon-cell-side-length * 2);

@function to-svg-loc($number) {
    @return calc(strip-unit($number) * 16);
}

$dungeon-cell-outer-path-stroke: path(""
    + " M#{to-svg-loc($dungeon-cell-peak-length)}, 0"
    + " L#{calc(to-svg-loc($dungeon-cell-long-width) - to-svg-loc($dungeon-cell-peak-length))}, 0"
    + " L#{to-svg-loc($dungeon-cell-long-width)}, #{calc(to-svg-loc($dungeon-cell-flat-height) / 2)}"
    + " L#{calc(to-svg-loc($dungeon-cell-long-width) - to-svg-loc($dungeon-cell-peak-length))}, #{to-svg-loc($dungeon-cell-flat-height)}"
    + " L#{to-svg-loc($dungeon-cell-peak-length)}, #{to-svg-loc($dungeon-cell-flat-height)}"
    + " L0, #{calc(to-svg-loc($dungeon-cell-flat-height) / 2)}"
    + " Z");

$default-color: black;

.dungeon-cell {
    width: $dungeon-cell-long-width;
    height: $dungeon-cell-flat-height;
    background-color: black;
    clip-path: $dungeon-cell-outer-path-stroke;
}

.dungeon-cell-invalid {
    visibility: hidden;
}

.dungeon-cell-svg {
    height: $dungeon-cell-flat-height;
    width: $dungeon-cell-long-width;
}

.dungeon-cell-outer-stroke-path {
    d: $dungeon-cell-outer-path-stroke;
}

.dungeon-cell-untouched {
    height: $dungeon-cell-flat-height;
    width: $dungeon-cell-long-width;
    background-color: purple;
}

.dungeon-cell-indeterminate {
    height: $dungeon-cell-flat-height;
    width: $dungeon-cell-long-width;
    background-color: purple;
}

.dungeon-cell-none {
    height: $dungeon-cell-flat-height;
    width: $dungeon-cell-long-width;
    background-color: gray;
}

.dungeon-cell-hall {
    height: $dungeon-cell-flat-height;
    width: $dungeon-cell-long-width;
    position: relative;
    background-color: darkcyan;
}

.dungeon-cell-room {
    width: $dungeon-cell-long-width;
    height: $dungeon-cell-flat-height;
    background-color: blue;
}

.dungeon-cell-start-location {
    font-size: 15pt;
    position: absolute;
    padding-left: calc($dungeon-cell-long-width * calc(2/8));
    padding-top: calc($dungeon-cell-long-width * calc(2/8));
    font-weight: bold;
    z-index: 100001;
    pointer-events:none;
    color: green;
}

.dungeon-cell-goal-location {
    font-size: 15pt;
    position: absolute;
    padding-left: calc($dungeon-cell-long-width * calc(2/8));
    padding-top: calc($dungeon-cell-long-width * calc(2/8));
    font-weight: bold;
    z-index: 100001;
    pointer-events:none;
    color: red;
}
