@use "sass:math";
@use "sass:map";
@use "sass:color";

@use '../constants' as *;
@use '../util' as *;

$dungeon-cell-long-width: 1280px;
$dungeon-cell-flat-height: 394px;
$dungeon-cell-half-height: calc($dungeon-cell-flat-height / 2);
$dungeon-cell-peak-length: 382px;

$dungeon-cell-outer-path-stroke: path(""
    + " M0, 196"
    + " L382, 0"
    + " L897, 0"
    + " L1279, 196"
    + " L1279, 197"
    + " L897, 393"
    + " L382, 393"
    + " M0, 199"
    + " Z");

$default-color: black;

.dungeon-cell {
    width: $dungeon-cell-long-width;
    height: $dungeon-cell-flat-height;
    background-color: black;
    clip-path: $dungeon-cell-outer-path-stroke;
}

.dungeon-cell-invalid {
    visibility: hidden;
}

.dungeon-cell-svg {
    height: $dungeon-cell-flat-height;
    width: $dungeon-cell-long-width;
}

.dungeon-cell-outer-stroke-path {
    d: $dungeon-cell-outer-path-stroke;
}

.dungeon-cell-untouched {
    height: $dungeon-cell-flat-height;
    width: $dungeon-cell-long-width;
    background-color: purple;
}

.dungeon-cell-indeterminate {
    height: $dungeon-cell-flat-height;
    width: $dungeon-cell-long-width;
    background-color: purple;
}

.dungeon-cell-none {
    height: $dungeon-cell-flat-height;
    width: $dungeon-cell-long-width;
    background-color: gray;
}

.dungeon-cell-hall {
    height: $dungeon-cell-flat-height;
    width: $dungeon-cell-long-width;
    position: relative;
}

.dungeon-cell-room {
    width: $dungeon-cell-long-width;
    height: $dungeon-cell-flat-height;
    background-color: blue;
}

.dungeon-cell-start-location {
    font-size: 15pt;
    position: absolute;
    padding-left: calc($dungeon-cell-long-width * calc(2/8));
    padding-top: calc($dungeon-cell-long-width * calc(2/8));
    font-weight: bold;
    z-index: 100001;
    pointer-events:none;
    color: green;
}

.dungeon-cell-goal-location {
    font-size: 15pt;
    position: absolute;
    padding-left: calc($dungeon-cell-long-width * calc(2/8));
    padding-top: calc($dungeon-cell-long-width * calc(2/8));
    font-weight: bold;
    z-index: 100001;
    pointer-events:none;
    color: red;
}

$ds-unit-cube-flat-width: 128px;
$ds-unit-cube-diagonal-height: 132px;

.dungeon-cell-unit-cube {
    --color: #888888;

    position: absolute;
    width: $ds-unit-cube-flat-width;
    height: $ds-unit-cube-diagonal-height;
    clip-path: path(""
        + " M0, 31"
        + " L63, 0"
        + " L64, 0"
        + " L127, 31"
        + " L127, 100"
        + " L64, 131"
        + " L63, 131"
        + " L0, 100"
    + " Z");
}

.dungeon-cell-unit-cube-inner {
    position: relative;
    width: $ds-unit-cube-flat-width;
    height: $ds-unit-cube-diagonal-height;
}

.dungeon-cell-unit-cube-face {
    position: absolute;
    top: 0;
    left: 0;
    width: $ds-unit-cube-flat-width;
    height: $ds-unit-cube-diagonal-height;

    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: $ds-unit-cube-flat-width;
        height: $ds-unit-cube-diagonal-height;
        stroke: black;
        stroke-width: 1px;
        fill: var(--color);
    }
}

.dungeon-cell-unit-cube-top-face {
    svg {
        path {
            filter: brightness(63%);
            d: path(""
                + " M0, 31"
                + " L63, 0"
                + " L64, 0"
                + " L127, 31"
                + " L127, 32"
                + " L64, 63"
                + " L64, 63"
                + " L0, 32"
                + " Z");
        }
    }
}

.dungeon-cell-unit-cube-left-face {
    svg {
        path {
            filter: brightness(49%);
            d: path(""
                + " M0, 32"
                + " L63, 63"
                + " L63, 131"
                + " L0, 100"
            + " Z");
        }
    }
}

.dungeon-cell-unit-cube-right-face {
    svg {
        path {
            d: path(""
                + " M127, 31"
                + " L127, 100"
                + " L64, 131"
                + " L64, 63"
            + " Z");
        }
    }
}
